<p id="notice"><%= notice %></p>


<h1><%= @page.title %></h1>

<div>
  <% form_for :page, :url => {:action => "addbullet", :page_id=>@page.id}, :html => {:multipart => true} do |page| %>
      <p><%= page.text_field(:new_bullet, :size => 100) %><%= submit_tag "Добавить" %></p>
      <%= select("search", "title", @select_list, :selected=>@selected, :onchange =>"$('addbullet').submit()") %>
  <% end %></div>
<% @page.checklists.each do |list| %>

      <td><h3><%= list.title %></h3></td>
      <% list.bullets.each do |bullet| %>

        <tr>
          <td><%= check_box(:bullet, :ready) %></td>
          <td><%= bullet.text %></td>
        </tr>
        <br/>
    <% end %>

<% end %>


<p>
  <%= link_to 'Добавить список', :controller => "checklists",
              :action =>"new",
              :page_id =>@page.id
  %>

</p>



<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
