<h1>Listing listers</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listers.each do |lister| %>
  <tr>
    <td><%= lister.email %></td>
    <td><%= lister.password %></td>
    <td><%= link_to 'Show', lister %></td>
    <td><%= link_to 'Edit', edit_lister_path(lister) %></td>
    <td><%= link_to 'Destroy', lister, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lister', new_lister_path %>
